*{
margin:0;
padding:0;
box-sizing: border-box;

}
h1{
 font-family:Poppins,sans-serif;
/*font-family:'Times New Roman';*/
	font-weight: bold;
	text-align: center;
	font-size:30px;
	top:20px;

}
.heading
{
	font-family:Poppins,sans-serif;
	font-weight: bold;
	text-align: left;
	margin-top:20px;
	margin-left: 50px;
}
.info{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	font-family:Poppins,sans-serif;
	justify-content: center;

}
#design
{
	box-shadow: 0 15px 30px rgba(0,0,0,.5)

}
.simple
{
	font-family:Poppins,sans-serif;
	margin-top: 20px; 
}
.info2{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	font-weight: bold;
	text-align:center;
	font-family:Poppins,sans-serif;
	justify-content: center;
	text-decoration:underline;
}
table{
text-align:center;
justify-content: center;
padding: 8px;
vertical-align: bottom;
border-spacing: 0;
line-height:1.5;
width:100%;
}
table th
{
  text-align:center;
  font-weight: bold;
}
.heading1
{
 font-family:Poppins,sans-serif;
  font-weight: bold;
  text-align: left;
  /*margin-top:20px;*/
  margin-left: 50px;
  margin-bottom: 20px;

}	
.info ol  
{
	/*margin-left:30px;*/
	padding-left: 80px;

}
/*.info ul ol 
{
	padding-left: 70px;
	line-height: 1.5;
}*/
